// Variables de couleurs :

$primary_color: #F6F6F6; //gris clair
$primary500_color: #EAEAEA; //gris moyen
$primary600_color: #7E7E7E; //gris moyen +
$primary900_color: #353535; //gris foncé
$secondary_color: #FFFFFF; //blanc
$third_color: #101010; //noir titres
$third500_color: #000000; //noir texte
$accent_color: #99E2D0; //vert clair
$accent500_color: #008766; //vert foncé
$button_color: #9256dc; //violet
$button500_color: #FF79DA; //rose/violet